In [1]:
a = [1,2,3,4]
for i in a:
    print(i,i*2)

1 2
2 4
3 6
4 8

In [6]:
list(range(0,101,5))

[0,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 55,
 60,
 65,
 70,
 75,
 80,
 85,
 90,
 95,
 100]

In [11]:
# 1번
a = list(range(2,10))
for i in a:
    print()
    for j in a:
        print(i,"x",j,"=",i*j)

2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [12]:
# 2번
s = list(range(1,101))
for i in s:
    if i % 2 == 0:
        print(i)
    if i % 11 == 0:
        print(i)

2
4
6
8
10
11
12
14
16
18
20
22
22
24
26
28
30
32
33
34
36
38
40
42
44
44
46
48
50
52
54
55
56
58
60
62
64
66
66
68
70
72
74
76
77
78
80
82
84
86
88
88
90
92
94
96
98
99
100

In [25]:
# 3번
a = [22,1,3,4,7,98,21,55,87,99,19,20,45]
res = 0
for i in list(range(len(a))):
    if i == 11:
        j = 12
    else:
        j = j+1
    
    if a[i] < a[j]:
        res = a[i]
    else:
        res = a[j]
    return res

SyntaxError: 'return' outside function (<ipython-input-25-8859e8a3c863>, line 14)

In [24]:
# 4번
a = [22,1,3,4,7,98,21,55,87,99,19,20,45]
list(range(len(a)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [33]:
a = input()
print(a)

TypeError: 'tuple' object is not callable